{% for block in section.blocks%}
  {% if block.settings.page == page.handle %}
    <div class="page-banner">
      <div class="page-banner-image">
        <img class="page-banner-img" src="{{ block.settings.image | img_url: '1920x' }}" alt="">
        <div class="page-banner-text">
            <h2 class="page-banner-title">{{ block.settings.title }}</h2>
            <h3 class="page-banner-sub-title">{{ block.settings.subtitle }}</h3>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% schema %}
  {
    "name": "Page Banner",
    "settings": [
	],
	"blocks": [
		{
          "type": "page-banner",
          "name": "Page Banner",
          "settings": [
			{
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "page",
                "id": "page",
                "label": "Page"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Sub Title"
            }
          ]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
